@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "UbuntuRegular", sans-serif;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: light dark;
}

body {
  min-width: 320px;
}

.blink {
  animation: blink-animation 1s ease-in-out 3;
}

@keyframes blink-animation {
  0%, 100% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.05);
  }
}

@font-face {
  font-family: Caveat;
  src: url('/src/assets/font/Caveat-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: UbuntuRegular;
  src: url('/src/assets/font/Ubuntu-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: UbuntuMedium;
  src: url('/src/assets/font/Ubuntu-Medium.ttf');
  font-display: swap;
}